.page-component-wrapper {
  width: 100%;
  max-width: var(--dl-size-size-maxwidth);
  margin: 0 auto;
  padding: 0 var(--dl-space-space-twounits);
}

@media (max-width: 767px) {
  .page-component-wrapper {
    padding: 0 var(--dl-space-space-unit);
  }
}
