.steps-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.steps-max-width {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.steps-grid {
  align-items: start;
}

.steps-section-header {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}

.steps-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}

.steps-card-container {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

.steps-card {
  top: 10%;
  position: sticky;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}

.steps-card:nth-child(even) {
  transform: rotate(2deg);
  background-color: var(--dl-color-theme-accent2);
}

.steps-card:nth-child(odd) {
  transform: rotate(-2deg);
}

.steps-card-text {
  text-align: center;
}

.steps-card-label {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  position: absolute;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 991px) {
  .steps-max-width {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .steps-section-header {
    position: static;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .steps-actions {
    width: 100%;
    align-self: flex-start;
  }
  .steps-card {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .steps-button {
    width: 100%;
  }
}
